<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>jetpack1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {83, 116}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{83, 116}</string>
			<key>spriteSourceSize</key>
			<string>{87, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{487, 0}, {83, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jetpack2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {85, 116}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{85, 116}</string>
			<key>spriteSourceSize</key>
			<string>{87, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{470, 124}, {85, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jetpack3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 116}</string>
			<key>spriteSourceSize</key>
			<string>{87, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{407, 386}, {87, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jetpack4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 116}</string>
			<key>spriteSourceSize</key>
			<string>{87, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{469, 256}, {87, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {77, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 5}</string>
			<key>spriteSize</key>
			<string>{77, 117}</string>
			<key>spriteSourceSize</key>
			<string>{83, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 518}, {77, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 2}, {66, 130}}</string>
			<key>spriteOffset</key>
			<string>{7, -1}</string>
			<key>spriteSize</key>
			<string>{66, 130}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{67, 133}, {66, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {76, 128}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{76, 128}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 0}, {76, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {74, 122}}</string>
			<key>spriteOffset</key>
			<string>{3, 2}</string>
			<key>spriteSize</key>
			<string>{74, 122}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{411, 0}, {74, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 2}, {70, 130}}</string>
			<key>spriteOffset</key>
			<string>{5, -1}</string>
			<key>spriteSize</key>
			<string>{70, 130}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 399}, {70, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 4}, {70, 128}}</string>
			<key>spriteOffset</key>
			<string>{5, -2}</string>
			<key>spriteSize</key>
			<string>{70, 128}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{195, 790}, {70, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {78, 116}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{78, 116}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{557, 118}, {78, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {72, 126}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{72, 126}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{329, 654}, {72, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {63, 129}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{63, 129}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 263}, {63, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {63, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 129}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 265}, {63, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {63, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 129}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 0}, {63, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {63, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 129}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 132}, {63, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {63, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 129}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 394}, {63, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {63, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 129}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{67, 531}, {63, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {63, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 129}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 528}, {63, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {63, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 129}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{65, 795}, {63, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {63, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 129}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 262}, {63, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {63, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 129}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 397}, {63, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {63, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 129}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 793}, {63, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {67, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{67, 131}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {67, 131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {63, 129}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{63, 129}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{265, 131}, {63, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {63, 129}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{63, 129}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{137, 396}, {63, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {63, 127}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{63, 127}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{267, 787}, {63, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {65, 127}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{65, 127}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 0}, {65, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {67, 127}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{67, 127}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 130}, {67, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 8}, {69, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{69, 125}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 259}, {69, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {67, 127}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{67, 127}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{267, 393}, {67, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 8}, {69, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{69, 125}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{331, 522}, {69, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {67, 127}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{67, 127}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{329, 262}, {67, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 8}, {69, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{69, 125}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 391}, {69, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {65, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{65, 131}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 266}, {65, 131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {67, 127}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{67, 127}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{260, 658}, {67, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 8}, {69, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{69, 125}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{399, 129}, {69, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {67, 127}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{67, 127}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{262, 525}, {67, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {65, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{65, 131}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 133}, {65, 131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {63, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 129}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{195, 659}, {63, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {63, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 129}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 662}, {63, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {63, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 129}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{201, 0}, {63, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {63, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 129}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 131}, {63, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speak9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {63, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 129}</string>
			<key>spriteSourceSize</key>
			<string>{75, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{197, 527}, {63, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {63, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 130}</string>
			<key>spriteSourceSize</key>
			<string>{69, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 663}, {63, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {65, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{65, 130}</string>
			<key>spriteSourceSize</key>
			<string>{69, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 531}, {65, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {63, 130}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{63, 130}</string>
			<key>spriteSourceSize</key>
			<string>{69, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{65, 663}, {63, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {65, 130}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{65, 130}</string>
			<key>spriteSourceSize</key>
			<string>{69, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{69, 0}, {65, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {63, 130}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{63, 130}</string>
			<key>spriteSourceSize</key>
			<string>{69, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 795}, {63, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {65, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{65, 130}</string>
			<key>spriteSourceSize</key>
			<string>{69, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{67, 265}, {65, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Player.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Player</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Player</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>