<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>nav_speak1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 132}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{704, 0}, {86, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_speak10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{86, 130}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 0}, {86, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_speak11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{86, 130}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 134}, {86, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_speak12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{86, 130}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 268}, {86, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_speak13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{86, 130}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{792, 134}, {86, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_speak14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{86, 130}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{440, 134}, {86, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_speak15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{86, 130}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{704, 134}, {86, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_speak16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{86, 130}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 268}, {86, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_speak17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{86, 130}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{792, 0}, {86, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_speak18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{86, 130}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 134}, {86, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_speak19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{86, 130}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 134}, {86, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_speak2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 132}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 0}, {86, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_speak20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{86, 130}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 134}, {86, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_speak3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{86, 130}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 268}, {86, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_speak4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{86, 130}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 134}, {86, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_speak5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{86, 130}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{880, 0}, {86, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_speak6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{86, 130}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 0}, {86, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_speak7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{86, 130}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{880, 134}, {86, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_speak8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{86, 130}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{616, 134}, {86, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_speak9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{86, 130}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 0}, {86, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_standby01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 132}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {86, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_standby02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 132}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 0}, {86, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_standby03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 132}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{616, 0}, {86, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_standby04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 132}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{440, 0}, {86, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nav_standby05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 132}</string>
			<key>spriteSourceSize</key>
			<string>{86, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 134}, {86, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>Navalny.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Navalny</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Navalny</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>